@import 'variables.scss';
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

html,
body {
  background: #fff;
  color: $font-color;
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 25px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  /* Note: Performance pitfall on mobile when rendering a lot of text */
  /* http://www.marco.org/2012/11/15/text-rendering-optimize-legibility */
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

.container {
  font-size: $large-font-size;
  line-height: 1.28em;
  margin: 3em auto 2em;
  width: 640px;

  &:before {
    background: url(/images/shoe.jpg) top center no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 213px;
    margin-bottom: 1.5em;
  }

  @media #{$mobile} {
    margin: 0 0 2em;
    width: auto;
  }
}

p {
  letter-spacing: 0.02em;
  margin: 1em 0;

  @media #{$mobile} {
    padding: 0 0.75em;
  }
}

h2 {
  font-size: $normal-font-size;
  margin: 1em 0 0.5em;

  @media #{$mobile} {
    padding: 0 0.75em;
  }
}

ul {
  font-size: $normal-font-size;
  margin: 0;
  padding-right: 1em;

  @media #{$mobile} {
    padding: 0 0.75em 0 2em;
  }
}

a {
  color: $link-color;
  font-weight: 900;
  text-decoration: none;

  &:hover {
    color: darken($link-color, 10%);
    text-decoration: underline;
  }
}

ul.experience {
  li {
    padding-bottom: 0.5em;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

ul.links {
  &:after {
    clear: both;
    content: '';
    display: table;
  }

  & li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;

    &:after {
      content: ',\a0';
    }

    &:last-child:before {
      content: 'and\a0';
    }

    &:last-child:after {
      content: '.';
    }

    @media #{$mobile} {
      margin-bottom: 0.5em;
      width: 50%;

      &:after,
      &:before {
        display: none;
      }
    }
  }
}
