@font-face{
  font-family: 'Avenir';
  src: url('/fonts/Avenir.otf');
}

@font-face{
  font-family: 'Avenir LT Std';
  src: url('/fonts/Avenir LT Std.otf');
}

html,
body {
  background: #fff;
  color: #5d5d5d;
  font-family: 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 25px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  /* Note: Performance pitfall on mobile when rendering a lot of text */
  /* http://www.marco.org/2012/11/15/text-rendering-optimize-legibility */
  text-rendering: optimizeLegibility;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h2,
strong,
a {
  font-family: 'Avenir LT Std';
  font-weight: bold;
}

a {
  color: #3b8bba;
  text-decoration: none;
}

a:hover {
  color: #2f6f94;
  text-decoration: underline;
}

.container {
  font-size: 20px;
  line-height: 1.28em;
  margin: 4em auto 2em;
  width: 640px;
}

.container:before {
  background: url(/images/shoe.jpg) top center no-repeat;
  background-size: cover;
  content: '';
  display: block;
  height: 213px;
  margin-bottom: 2em;
}

p {
  margin: 1em 0;
}

h2 {
  font-size: 18px;
  margin: 1.25em 0 0.75em;
}

ul {
  font-size: 18px;
  margin: 0;
  padding-right: 1.25em;
}

ul.experience li {
  padding-bottom: 0.5em;
}

ul.experience li:last-child {
  padding-bottom: 0;
}

ul.links:after {
  content: '';
  display: table;
  clear: both;
}

ul.links li {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.links li:after {
  content: ',\a0';
}

ul.links li:last-child:before {
  content: 'and\a0';
}

ul.links li:last-child:after {
  content: '.';
}

@media only screen and (max-width: 640px) {
  .container {
    margin: 0 0 2em;
    width: auto;
  }

  p,
  h2,
  ul {
    padding: 0 1em;
  }

  ul {
    padding-left: 2em;
  }

  ul.links li {
    margin-bottom: 0.5em;
    width: 50%;
  }

  ul.links li:after,
  ul.links li:before {
    display: none;
  }
}
